body{
  margin: 0px;
}

html{
  background-color: #e2e2e2;
}

#root{
  padding: 0px;
}

nav {
  background-color: #292929; /* Cor de fundo da barra de navegação */
  width: 100%;
  padding: 12px;
  display: flex;
}

ul {
  list-style-type: none; /* Remove os marcadores de lista */
  padding: 0; /* Remove o preenchimento padrão */
  margin: 0; /* Remove as margens padrão */
}

li {
  display: inline; 
  margin: 2px;
}

a{
  text-decoration: none;
}

li a{
  color: white;
  padding: 9px;
}

li a:hover{
  background-color: rgb(161, 156, 156);
  border-radius: 5px;
}

.active-link{
  background-color: rgb(161, 156, 156);
  border-radius: 5px;
}


footer{
  background-color: #121494;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer h1{
  color: white;
}

.productList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

/* Estilo para a mensagem de carrinho vazio */
.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  font-size: 24px;
  color: #777;
  background-color: #f9f9f9;
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

/* Estilo adicional para texto */
.empty-cart h1 {
  font-size: 36px;
  color: #333;
}


.product,
.cart-item {
  background-color: rgb(210, 210, 210);
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 20%;
}

.centralized{
  display: flex;
  justify-content: center;
}

#remove-button{
  background-color: rgb(233, 67, 67);
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


button{
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 80%;
}

button:hover{
  background-color: green;
}

.product select{
  height: 40px;
}





@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
